{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'block',
  'block-' ~ configuration.provider|clean_class,
  'block-' ~ plugin_id|clean_class,
  'banner',
]
%}

{%
  set bannerImage = ""
%}

{% if (file_url(content.field_provus_media_image[0]['#media'].field_media_image.entity.uri.value )) is not empty %}
  {% set bannerImage = 'has-bg-image' %}
{% endif %}


<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    {% embed 'provus_blocks:hero_banner' with {
      is_short_banner: content.field_provus_short_banner[0]['#markup'],
      image_position: content.field_provus_image_position[0]['#markup'],
      background_color: content.field_provus_background_color[0]['#markup'],
      subtitle: content.field_provus_sub_title,
      title: content.field_provus_title,
      body: content.field_provus_body,
      links: content.field_provus_links,
      image: content.field_provus_media_image|render ? content.field_provus_media_image.0 : '',
      content_attributes: content_attributes,
      text_container_width: content.field_provus_container_width[0]['#markup'] ? content.field_provus_container_width[0]['#markup'] : ''
    } only %}
    {% endembed %}
  {% endblock %}
</div>
