/* Variable export */
/* Mode 1 */
/* color */
$background-colors-background-dark: #1c2b54;
$background-colors-background-grey: #d6d6d6;
$background-colors-background-light: #fbfbfc;
$background-colors-background-white: #ffffff;
$background-colors-background-lightblue: #eff6ff;
$background-colors-background-lightteal: #e7f6f9;
$gradient-primary-gradient: #2baec6;
$gradient-primary-gradient-2: #094fc2;
$primary-colors-primary: #2563eb;
$primary-colors-primary-accent: #1c2b54;
$primary-colors-primary-contrast: #ffffff;
$primary-colors-primary-hover: #114cae;
$secondary-colors-secondary: #008299;
$secondary-colors-secondary-accent: #5bcde2;
$secondary-colors-secondary-contrast: #ffffff;
$secondary-colors-secondary-hover: #045f70;
$system-error-contrast: #422424;
$system-error-light: #fee2e2;
$system-error-medium: #b63546;
$system-error-primary: #d83a52;
$system-info-contrast: #35290f;
$system-info-light: #e8f7ff;
$system-info-medium: #1a5aac;
$system-info-primary: #3491fa;
$system-success-contrast: #024825;
$system-success-light: #d1fae5;
$system-success-medium: #007038;
$system-success-primary: #258750;
$system-warning-contrast: #35290f;
$system-warning-light: #fffbd1;
$system-warning-medium: #946800;
$system-warning-primary: #f7ce55;
$text-colors-body-color: #2c2e30;
$text-colors-text-contrast: #ffffff;
$text-colors-text-hint: #747474;
$text-colors-text-primary: #2c2e30;
$text-colors-text-secondary: #646f79;
/* Mode 1 */
/* number */
$button-border-radius-radius-xxs: 0rem;
$button-border-radius-radius-xs: 0.25rem;
$button-border-radius-radius-sm: 0.5rem;
$button-border-radius-radius-mg: 0.75rem;
$button-border-radius-radius-lg: 1rem;
$button-border-radius-radius-xl: 1.25rem;
$button-border-radius-radius-xxl: 2.5rem;
$cards-border-radius-radius-xxxs: 0rem;
$cards-border-radius-radius-xxs: 0.25rem;
$cards-border-radius-radius-xs: 0.5rem;
$cards-border-radius-radius-sm: 1rem;
$cards-border-radius-radius-md: 1.25rem;
$cards-border-radius-radius-lg: 1.5rem;
$cards-border-radius-radius-xl: 2rem;
$cards-border-radius-radius-xxl: 2.5rem;
$cards-border-radius-radius-xxxl: 6.25rem;
$images-border-radius-radius-xxxs: 0rem;
$images-border-radius-radius-xxs: 0.25rem;
$images-border-radius-radius-xs: 0.5rem;
$images-border-radius-radius-sm: 0.75rem;
$images-border-radius-radius-md: 1rem;
$images-border-radius-radius-lg: 1.25rem;
$images-border-radius-radius-xl: 2rem;
$images-border-radius-radius-xxl: 2.5rem;
$images-border-radius-radius-xxxl: 62.4375rem;
$padding-padding-xxxs: 0.25rem;
$padding-padding-xxs: 0.5rem;
$padding-padding-xs: 0.75rem;
$padding-padding-sm: 1rem;
$padding-padding-md: 1.25rem;
$padding-padding-lg: 1.5rem;
$padding-padding-xlg: 2rem;
$padding-padding-xxlg: 2.5rem;
$padding-padding-xxxlg: 64px;
$radius-radius-xxxs: 0rem;
$radius-radius-xxs: 0.25rem;
$radius-radius-xs: 0.5rem;
$radius-radius-sm: 1rem;
$radius-radius-md: 1.25rem;
$radius-radius-lg: 1.5rem;
$radius-radius-xl: 2rem;
$radius-radius-xxl: 2.5rem;
$radius-radius-xxxl: 6.25rem;
/* Mode 1 */
/* color */
$button-border-focus-state: #e7f6f9;
$button-default-background: #2563eb;
$button-default-background-hover: #114cae;
$button-default-text: #ffffff;
$button-default-text-hover: #ffffff;
$button-outline-background: #ffffff;
$button-outline-background-hover: #fbfbfc;
$button-outline-border: #d6d6d6;
$button-outline-border-hover: #d6d6d6;
$button-outline-text: #2c2e30;
$button-outline-text-hover: #2c2e30;
$button-primary-background: #2563eb;
$button-primary-background-hover: #114cae;
$button-primary-text: #ffffff;
$button-primary-text-hover: #ffffff;
$button-secondary-background: #008299;
$button-secondary-background-hover: #045f70;
$button-secondary-text: #ffffff;
$button-secondary-text-hover: #ffffff;
$button-transparent-text: #2563eb;
$button-transparent-text-hover: #114cae;
$footer-background: #eff6ff;
$footer-link: #646f79;
$footer-link-hover: #1c2b54;
$footer-text: #1c2b54;
$header-navigation-background: #ffffff;
$header-navigation-link: #2c2e30;
$header-navigation-link-hover: #2563eb;
$header-utility-menu-background: #114cae;
$header-utility-menu-link: #ffffff;
$header-utility-menu-link-hover: #e5fbff;
$header-utility-menu-text: #ffffff;
/* number */
$footer-link-font-size: 0.875rem;
$footer-text-size: 0.875rem;
$footer-text-headlines-size: 1.125rem;
$header-nav-menu-links-size: 1rem;
$header-navigation-link-spacing: 2.5rem;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap');
$font-body: 'Inter', sans-serif;
$font-heading: 'Inter', sans-serif;
$font-fontawesome: 'Font Awesome 5 Free';

// Primary Color Mappings.
$primary: $primary-colors-primary;
$primary-hover: $primary-colors-primary-hover;
$primary-contrast: $primary-colors-primary-contrast;
$primary-accent: $primary-colors-primary-accent;

// Secondary Color Mappings.
$secondary: $secondary-colors-secondary;
$secondary-hover: $secondary-colors-secondary-hover;
$secondary-contrast: $secondary-colors-secondary-contrast;
$secondary-accent: $secondary-colors-secondary-accent;

// Background Color Mappings.
$background-white: $background-colors-background-white;
$background-light: $background-colors-background-light;
$background-grey: $background-colors-background-grey;
$background-lightblue: $background-colors-background-lightblue;
$background-lightteal: $background-colors-background-lightteal;
$background-gradient: linear-gradient(45deg, #2BAEC6, #094FC2);

// Text Color Mappings.
$text-primary: $text-colors-text-primary;
$text-secondary: $text-colors-text-secondary;
$text-contrast: $text-colors-text-contrast;
$text-hint: $text-colors-text-hint;
$body-color: $text-colors-body-color;

// Accent Color Mappings.
$accent-light: $secondary-accent;
$accent-dark: $secondary-contrast;

// System/Alert Color Mappings.
$success-light: $system-success-light;
$success-primary: $system-success-primary;
$success-medium: $system-success-medium;
$success-contrast: $system-success-contrast;
$error-light: $system-error-light;
$error-primary: $system-error-primary;
$error-medium: $system-error-medium;
$error-contrast: $system-error-contrast;
$warning-light: $system-warning-light;
$warning-primary: $system-warning-primary;
$warning-medium: $system-warning-medium;
$warning-contrast: $system-warning-contrast;
$system-light: $system-info-light;
$system-primary: $system-info-primary;
$system-medium: $system-info-medium;
$system-contrast: $system-info-contrast;


// Bootstrap fixes.
$primary-light: $primary-contrast;
$primary-shade: $primary;
$primary-dark: $primary-accent;
$secondary-shade: $secondary;
$accent-shade: $secondary;
$font-size-base: 1rem;

// Cards.
$card-border-radius: .25rem;
$card-spacing: 1.25rem;
$card-border-color: #E7E8E9;
$card-border-dark: #D9DBDD;

// HR Color
$hr-color: $text-primary;

// Border Color
$border-color: $card-border-color;
$color-border-color: $border-color;

// Grayscale Colors
$white: white;
$gray-lightest: #eaeaea;
$gray-light: #747474;
$gray: #666;
$gray-darker: #333;
$gray-medium: #556575;
$black: #15191B;

// Tables colors
$table-gray: #f8f8f8;
$table-border: $card-border-color;

// Responsive font sizes
$enable-responsive-font-sizes: true;
$enable-shadows: false;
$enable-gradients: false;

// Font Sizes and Weights
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;
$font-size-xs: $font-size-base * .75;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-weight-medium: 500;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.5;
$h1-font-size: 60px;
$h2-font-size: 48px;
$h3-font-size: 36px;
$h4-font-size: 24px;
$h5-font-size: 20px;
$h6-font-size: 20px;
$font-size-display-headline: 84px;
$font-size-sub1-headline: 18px;
$font-size-sub2-headline: 16px;
$font-size-body-md: 18px;
$font-size-body-sm: 16px;
$font-size-caption: 14px;
$font-size-eyebrow-lg: 16px;
$font-size-eyebrow-md: 12px;
$font-size-button-lg: 16px;
$font-size-button-md: 14px;
$font-size-button-sm: 13px;

$font-weight-display-headline: 600;
$h1-font-weight: 600;
$h2-font-weight: 600;
$h3-font-weight: 600;
$h4-font-weight: 600;
$h5-font-weight: 600;
$h6-font-weight: 600;
$font-weight-sub1-headline: 500;
$font-weight-sub2-headline: 500;
$font-weight-body-md: 400;
$font-weight-body-sm: 400;
$font-weight-caption: 700;
$font-weight-eyebrow-lg: 700;
$font-weight-eyebrow-md: 700;
$font-weight-button-lg: 600;
$font-weight-button-md: 600;
$font-weight-button-sm: 600;

$line-height-h1: 72px;
$line-height-h2: 56px;
$line-height-h3: 44px;
$line-height-h4: 32px;
$line-height-h5: 28px;
$line-height-h6: 28px;
$line-height-display-headline: 88px;
$line-height-sub1-headline: 28px;
$line-height-sub2-headline: 24px;
$line-height-body-md: 24px;
$line-height-body-sm: 22px;
$line-height-caption: 12px;
$line-height-eyebrow-lg: 16px;
$line-height-eyebrow-md: 12px;
$line-height-button-lg: 16px;
$line-height-button-md: 16px;
$line-height-button-sm: 12px;

// Comments
$comment-spacer-x: 1.25em;
$comment-spacer-y: 1.25em;

// Bootstrap barrio variables.
$primary-dark: $primary-contrast;

// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px, // lower burger menu
  xl: 1440px,
  xxl: 1680px
);

// Grid containers.
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 744px,
  lg: 984px,
  xl: 1252px,
  xxl: 1568px
);

// Pagination
$focus-ring-color: $primary;
$focus-ring-width: 2px;
$pagination-focus-box-shadow: 0 0 0 $focus-ring-width $focus-ring-color;

// Headings
$color-heading: $text-primary;

// Tabs
$tabs-color-primary: $primary-colors-primary;
$tabs-color-secondary: $secondary-colors-secondary;
$tabs-background-color-primary: $background-colors-background-lightblue;
$tabs-background-color-secondary: $background-colors-background-white;
$tabs-border-color: $background-colors-background-grey;
$tabs-border-color-hover: $background-colors-background-white;
$tabs-border-bottom-color: $tabs-color-primary;

// Tables
$table-header-background-color: $background-colors-background-dark;
$table-header-text-color: $primary-colors-primary-contrast;
$table-header-padding: $padding-padding-md;
$table-header-border-color: rgba(255,255,255,.3);
$table-body-background-zebra-color: #F9F9F9;
$table-body-text-color: $text-colors-text-primary;
$table-body-padding: $padding-padding-md;
$table-body-border-color: rgba(0,0,0,.1);